body {
    background-color: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body h1 {
    color: #f4f4f4;
    text-decoration: underline;
}

body h2 {
    color: #ff5252;
}

body h3 {
    color: #cc0096
}

body h4 {
    color: #ff0000;
}